.notif {
    width: 50vw;
    text-align: center;
    border: 3px;
    border-radius: 10px;
    border-style: solid;
    padding: 10px 10px 10px 10px;
    background-color: rgb(229, 229, 229);
}

.success {
    color: green;
    border-color: green;
}

.error {
    color: red;
    border-color: red;
}

.caution {
    color: rgba(255, 119, 0, 0.629);
    border-color: rgba(255, 119, 0, 0.629);
}